experiment_name: "eval_teacher_convnextl_1024_p2"

data:
  root: "../data/uwf/multilabel/MedicalCheckup/splitted"
  split_filename: "default_split.yaml"
  train_split: "train"
  val_split: "val"
  test_split: "test"
  label_schema_file: "configs/labels/schema_p2.yaml"
  # ImageNetが良いとのことなので固定推奨
  mean: [0.485, 0.456, 0.406]
  std:  [0.229, 0.224, 0.225]

image:
  center_crop_size: 3072
  image_size: 1024

checkpoint:
  # ここを学習済みbest.ptへ
  path: "outputs/checkpoints/teacher/teacher_convnextl_1024_p2_imgnetstd_lr3e-5_wd01/best.pt"

classifier:
  gpu_ids: [4]   # 評価は1GPUでもOK。複数にしてdistributed.enabled=trueならDDP推論します

distributed:
  enabled: false
  backend: "nccl"
  master_addr: "127.0.0.1"
  master_port: 29520

inference:
  batch_size: 64
  num_workers: 32
  pin_memory: true

threshold:
  mode: "global_from_val"
  metric: "macro_f1"
  grid:
    start: 0.01
    end: 0.99
    num: 199

eval:
  splits: ["val", "test"]
  save_predictions: true
  save_paths: false

output:
  root_dir: "outputs/eval/teacher"

wandb:
  enabled: false
  project: "uwf-teacher-eval"
  name: "eval_p2"
  mode: "online"
