name: "pattern2_drop_labels"
group_reduce: "any"
classes:
  - "白内障"
  - "硝子体混濁"
  - "星状硝子体症"
  - "VH"
  - "MH"
  - "分層黄斑円孔"
  - "黄斑偽円孔"
  - "網膜円孔"
  - "網膜萎縮性円孔"
  - "網膜裂孔"
  - "lattice"
  - "RRD"
  - "黄斑変性"
  - "nAMD"
  - "PCV"
  - "ドルーゼン(drusen)"
  - "CSC"
  - "糖尿病網膜症"
  - "mild_NPDR"
  - "moderate_NPDR"
  - "severe_NPDR"
  - "PDR"
  - "DME"
  - "網膜静脈分枝閉塞"
  - "網膜中心静脈閉塞"
  - "眼底出血"
  - "網膜変性"
  - "網膜色素変性"
  - "網脈絡膜変性"
  - "網脈絡膜萎縮"
  - "強度近視眼底"
  - "コーヌス"
  - "ERM"
  - "緑内障(gla)"
  - "視神経乳頭陥凹拡大"
  - "uveitis"
  - "サルコイドーシス"
  - "眼内悪性リンパ腫"
  - "硬性白斑"
  - "有髄神経線維"
  - "S1"
  - "S2"
  - "S3"
  - "S4"
  - "H1"
  - "H2"
  - "H3"
  - "H4"

label_groups: {}
